@using Microsoft.AspNetCore.Components.Routing

<div class="nav-menu">
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li>
            <NavLink href="properties">Properties</NavLink>
        </li>
        <li>
            <NavLink href="tenants">Tenants</NavLink>
        </li>
        <li>
            <NavLink href="maintenance">Maintenance</NavLink>
        </li>
    </ul>
</div>
